html{
  scroll-behavior: smooth;
  height: 100%;
}

/* ul:active{
  text-decoration: underline; 
} */

a.activePage{ 
  /* text-decoration: underline;  */
  background-color: black;
  color: white; 
}

body{
background-color: white;
font-size: 18px;
margin: 0 auto;
padding: 0;
/* font-family: 'News Cycle', sans-serif; */
/* font-family: 'Courier New', Courier, monospace; */
font-family: 'Nanum Gothic', sans-serif;
}

.logo {
  padding-top: 20px; 
  display:flex;
  justify-content: center;
  align-content: center;
  /* margin: auto 0;
  align-content: center; 
  padding-left: 20px; 
  max-width: 100%;
  height: auto; */
  /* max-width: 20%; 
  /* width: 40%; */
  /* width:20px;
  height:400px; */
}



.container5 h1, 
.containter4 h1, 
.container3 h1,
.container2 h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 5;
    border-right: .15em solid transparent; 
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }

}






h1{
font-size: 50px;
color: black;
line-height: 1;
padding-bottom: 50px; 
text-align: center;
display: block;
/* padding: 20px;  */
}

#about-header{
  padding-top: 90px; 
}



h2{
font-size: 32px;
line-height: 1.5;
/* padding: 50px 0; */
text-align: left;
display: block;
/* padding: 20px;  */
}

.see-more-text {
  text-align: center; 
}

h2 {
  text-align: center; 
  font-size: 30px; 
  padding: 10px; 
}

p{
font-size: 18px;
line-height: initial;
/* padding: 50px 0; */
text-align: left;
display: block;
padding: 10px 0; 


}

/* nav ul{
list-style-type: none;
align-content: center; 
} */

nav li{
float:left; 

/* display: inline; 
padding-right: 20px;
align-content: center;  */
}

nav{
  display:flex;
  justify-content: center;
  /* margin: 50 auto;  */
  list-style:none;  
  align-content: center;
}

/* nav li:hover{
text-decoration: underline;
} */

nav a{
display:block; 
text-align: center;
width: 150px; 
text-decoration: none;
color: black;
font-weight: bold;
/* align-content: center;  */

}

nav a:hover{
text-decoration: underline;
}

.skip a{
background: white;
left: 0;
padding: 6px;
position: absolute;
top: -40px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
}

a.skip{
top:auto;
}

.skip a:focus, .skip a:active{
border: 2px slid black;
left: auto;
top:auto;
height: auto;
overflow: auto;
margin: 40px;
padding: 6px;
z-index: 999;
}

*:focus{
border: 2px solid black;
}


footer{
background-color: black;
color: white;
grid-column: 1 / -1;  
grid-row: 7 / auto;   
padding-top: 30px;
/* position: fixed; */
/* grid-column: 1 / span 3;
grid-row: 7 / span 1; */
/* grid-column: 1 / span 3;
*/
}


#container{
display:block;
box-sizing: border-box;
padding: 1em;
}

.about-set-up {
  padding: 50px; 
}

.nav{
 /*Your code here */

/*Provided*/
background-color: #ddd;
padding: 20px 0; 
text-align: left; 
align-content: center;
grid-column-start: 1; 
grid-column-end: 4;
grid-row-start: 1;
grid-row-end:2;
}

/* header{

background-image: url("../images/header.jpg"); 

background-position: center; 
background-repeat: no-repeat; 
background-size: cover;       
color: white;


} */


/* img {
object-fit: cover;
width: 100%;
} */

/* #about-image{
object-fit: cover;
width: 100%;
} */


/* .about{
display: flex;
flex-direction: column;
margin: auto; 
} */

.breakfast-set-up{
display: flex;
flex-direction: column;
background-color: white; /* colour added just for visibility purposes when debugging */
/* justify-content: center; */
/* align-items: center; */
margin: auto;
}

.about-set-up{
  display: flex;
  flex-direction: column;
  background-color: white; /* colour added just for visibility purposes when debugging */
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  }

/* .about{
display: flex;
flex-direction: column;
margin: auto; 
} */

.lunch-set-up{
display: flex;
flex-direction: column;
background-color: white; /* colour added just for visibility purposes when debugging */
margin: auto;
}

.dinner-set-up{
display: flex;
flex-direction: column;
background-color: white; /* colour added just for visibility purposes when debugging */
margin: auto;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: white; /* colour added just for visibility purposes when debugging */
  /* margin: auto; */
  /* height: 200px;  */
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  resize: vertical; 

  }

  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }






.about > img {
object-fit: cover;
width: 100%;
max-height: 50%; 
}

.about-set-up img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
  height: auto; 
  flex:1; 
  width: 100%;  

}

.about > div {
margin-bottom: 40px;
}
/* 
.gallery{
display: grid;
grid-template-rows: 300px 300px 300px;
grid-template-columns: 300px 300px 300px;
grid-gap: 10px;
} */
/* 


form{
display: flex;
flex-direction: column;
margin: auto;
padding: 12px 50px;

}

.contact-image{
grid-column: 1 / span 3;
grid-row: 6 / span 1;
max-height: 700px; 
overflow: hidden;

}

.contact{
grid-column: 2 / span 1;
grid-row: 6 / span 1;
}
*/
.text-block{

 /*Your code here */
text-align: center; 
margin: auto 0;
background-color: white; 
border: 10px solid black;
padding: 30px;
}

/* .gallery {

} */

.gallery-images {
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  padding: 0 4px;
  
  /* flex: 33.33%;  */
  /* max-width: 33.33%;  */
  /* padding: 0 4px;  */

  /* margin-top: 8px;  */
  /* vertical-align: middle;  */
  /* width: 100%;  */

}

.gallery-images img{
  /* width: 33.33%; */
  object-fit: cover;
  width: 100%;
  padding: 0 1px; 
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* width: 1fr 1fr 1fr; */

}

.breakfast-set-up img{
  width: 100%;
  /* background-color: white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* padding: 1px;  */
}

.lunch-set-up img{
  width: 90%;
  /* background-color: white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dinner-set-up img{
  width: 90%;
  /* background-color: white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hit-the-floor {
  color: #fff;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}

/* body {
  background-color:;
} */



@media screen and (min-width: 800px){

#container{
  background-color: white;
  box-sizing: border-box;
  /* padding: 1em; */
  width: 90vw;
  margin: 0 auto;
  /* grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
  grid-template-columns: 50px auto 500px auto 50px; */
}

/* div:nth-child(odd){
  grid-template-columns: 1fr auto;
}

div:nth-child(even){
  grid-template-columns: auto 1fr;
} */

.nav{
  background-color: white;
  text-align: right; 
  align-content: center;
  padding-top: 35px;
  /* padding-bottom: 35px; */
  /* grid-column: 1 / span 3; */
  grid-column: 1 / -1;
  grid-row: 1 / span 1;


   /*Your code here */
}

.parallax{
  background-image: url("noellelogo.jpg");
  height: auto;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .about-image{
   grid-column: 2 / span 2;
   grid-row: 3 / span 1; 
   max-height: 700px; 
   overflow: hidden;

  } */

/* .about{
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
} */

.breakfast-set-up{
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-auto-rows: auto 350px;
  justify-content: center;
  align-self: center;
}

.about-set-up{
  display: flex;
  height: auto;
  width: 70vw;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.about-set-up img{
  object-fit: cover;
  height: 600px;
  width: auto;
  flex: 1;
}

.breakfast-text{
  padding: 10px;
}

.about-text{
  padding: 10px;
  flex: 1;
}

/* .about-image{
  flex: 1;
} */

.lunch-set-up{
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-auto-rows: auto 350px;
  justify-content: center;
  align-self: center;
}

.lunch-text{
  padding: 10px;
}

.dinner-set-up{
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-auto-rows: auto 350px;
  justify-content: center;
  align-self: center;
}

.dinner-text{
  padding: 10px;
}

.gallery{
  display:flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px; 

}

.gallery-images{
  display: grid;
  grid-template: repeat(3, 300px) / repeat(3, 300px);

}

.gallery-images img{
  object-fit: cover;
  width: 100%;
}

.gallery-images img[src="images/pbcookies.jpg"]:hover{
  opacity: 0.3;
}

.gallery-images img[src="images/bowl.jpg"]:hover{
  opacity: 0.3;
}

.gallery-images img[src="images/granola.jpg"]:hover{
  opacity: 0.3;
}

.gallery-images img[src="images/holidaymeal.jpg"]:hover{
  opacity: 0.3;
}

.gallery-images img[src="images/travelsnack.jpg"]:hover{
  opacity: 0.3;
}

.gallery-images img[src="images/chocolatedrizzle.jpg"]:hover{
  opacity: 0.3;
}

.gallery-images img[src="images/pbtoast.jpg"]:hover{
  opacity: 0.3;
}

.gallery-images img[src="images/sushiwrap.jpg"]:hover{
  opacity: 0.3;
}

.gallery-images img[src="images/avotoast.jpg"]:hover{
  opacity: 0.3;
}

.parallax {
  background-image: url ("noellelogo.jpg"); 
  height: 70px; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}
/* 
.parallaxtwo{
  background-image: url ("images/acai.jpg"); 
  height: 150px;  
  width: 80%; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}   */







}  /*End the media query*/

@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; /* Removes scroll animation */
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: none !important;/* Your code here - set to default setting */
  transition: none !important;/* Your code here - set to default setting */
  z-index: 1;
}

.skip a:focus{
  top:0;
}
}


/* may want to delete */
/* Responsive layout - makes a two column-layout instead of four columns */


@media screen and (max-width: 800px) {
  .column {
    flex: 33.33%;
    max-width: 33.33%;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

